.form-item {
    margin-left: 15px;
    margin-bottom: 15px;
    float: left;
}

.form-item>label {
    min-width: 107px;
    display: inline-block;
}

.form-item input, select {
    width: 170px;
}

.search-form-item {
    margin-left: 15px;
    margin-bottom: 15px;
    float: left;
}

.search-form-item>label {
    min-width: 72px;
    display: inline-block;
}

.search-form-item input, select {
    width: 170px;
}

.clear{
    clear:both
}

.align_center {
    text-align: center
}

.align_left {
    text-align: center
}

.align_right {
    text-align: center
}

.post-detail .user>span{
    display: inline-block;
    height:100%;
    float: left;
}
.post-detail .user-icon{
    position: relative;
    margin-right: 10px;
    width: 40px;
}
.post-detail .user-icon>img{
    position: absolute;
    top: 50%;
    margin-top: 30px;
    left: 50px;
}

.post-detail img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.post-detail .user {
    width: 100px;
}

.post-detail li {
    list-style-type:none
}

.l-btn {
    margin-right: 15px;
}